SensorTile-WatsonIoT-Dashboard-ExtraCredit.flow
[
    {
        "id": "429c92be.2e8d64",
        "type": "tab",
        "label": "SensorTile Master Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "540083bc.2ba304",
        "type": "change",
        "z": "429c92be.2e8d64",
        "name": "Extract Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 83,
        "wires": [
            [
                "4c74e94f.66425"
            ]
        ]
    },
    {
        "id": "4c74e94f.66425",
        "type": "ui_chart",
        "z": "429c92be.2e8d64",
        "name": "",
        "group": "ca64e0ac.2f9c88",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 790,
        "y": 83,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "49299770.330a5",
        "type": "change",
        "z": "429c92be.2e8d64",
        "name": "Extract Accelerometer X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.X",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 143,
        "wires": [
            [
                "a333660b.ebd12"
            ]
        ]
    },
    {
        "id": "8fb84479.d77f9",
        "type": "change",
        "z": "429c92be.2e8d64",
        "name": "Extract Accelerometer Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Y",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 183,
        "wires": [
            [
                "a333660b.ebd12"
            ]
        ]
    },
    {
        "id": "4fe5bc36.4d274c",
        "type": "change",
        "z": "429c92be.2e8d64",
        "name": "Extract Accelerometer Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Z",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 223,
        "wires": [
            [
                "a333660b.ebd12"
            ]
        ]
    },
    {
        "id": "f4b7ab74.024cd8",
        "type": "switch",
        "z": "429c92be.2e8d64",
        "name": "SensorTile Event Types",
        "property": "eventType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Accelerometer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mic_Level",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Gesture",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 270,
        "y": 183,
        "wires": [
            [
                "540083bc.2ba304"
            ],
            [
                "49299770.330a5",
                "8fb84479.d77f9",
                "4fe5bc36.4d274c"
            ],
            [
                "9d061aa3.6abe"
            ],
            [
                "8977d72a.532568"
            ]
        ]
    },
    {
        "id": "a333660b.ebd12",
        "type": "ui_chart",
        "z": "429c92be.2e8d64",
        "name": "",
        "group": "ca64e0ac.2f9c88",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Accelerometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 800,
        "y": 183,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9d061aa3.6abe",
        "type": "change",
        "z": "429c92be.2e8d64",
        "name": "Extract Microphone level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Mic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 283,
        "wires": [
            [
                "2e2b78c8.a87d5"
            ]
        ]
    },
    {
        "id": "2e2b78c8.a87d5",
        "type": "ui_chart",
        "z": "429c92be.2e8d64",
        "name": "",
        "group": "ca64e0ac.2f9c88",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Microphone",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 790,
        "y": 283,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ba29b9b3.f7fae8",
        "type": "ibmiot in",
        "z": "429c92be.2e8d64",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "C07A2E305C4D",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 183,
        "wires": [
            [
                "4d9168f1.a0b058",
                "f4b7ab74.024cd8"
            ]
        ]
    },
    {
        "id": "2ab4efba.8c378",
        "type": "comment",
        "z": "429c92be.2e8d64",
        "name": "WIoTP via API keys",
        "info": "Registered Device",
        "x": 110,
        "y": 123,
        "wires": []
    },
    {
        "id": "4d9168f1.a0b058",
        "type": "debug",
        "z": "429c92be.2e8d64",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 210,
        "y": 283,
        "wires": []
    },
    {
        "id": "8977d72a.532568",
        "type": "change",
        "z": "429c92be.2e8d64",
        "name": "Extract Gestures",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Gesture",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 383,
        "wires": [
            [
                "d1462e70.e7faf",
                "229f4d4d.9080aa"
            ]
        ]
    },
    {
        "id": "d1462e70.e7faf",
        "type": "debug",
        "z": "429c92be.2e8d64",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 423,
        "wires": []
    },
    {
        "id": "229f4d4d.9080aa",
        "type": "ui_chart",
        "z": "429c92be.2e8d64",
        "name": "",
        "group": "ca64e0ac.2f9c88",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Gesture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 780,
        "y": 383,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ca64e0ac.2f9c88",
        "type": "ui_group",
        "z": "",
        "name": "SensorTile Data",
        "tab": "2aa867d1.7a2d18",
        "disp": true,
        "width": "6"
    },
    {
        "id": "2aa867d1.7a2d18",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Tiles",
        "icon": "dashboard",
        "order": 2
    }
]
