SensorTile-WatsonIoT-Dashboard-ExtraCredit.flow
[
    {
        "id": "c3af477f.fa16b8",
        "type": "tab",
        "label": "SensorTile Master Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a1331468.ef5818",
        "type": "change",
        "z": "c3af477f.fa16b8",
        "name": "Extract Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 83,
        "wires": [
            [
                "8a204f10.f04c88"
            ]
        ]
    },
    {
        "id": "8a204f10.f04c88",
        "type": "ui_chart",
        "z": "c3af477f.fa16b8",
        "name": "",
        "group": "3b631479.3443d4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 790,
        "y": 83,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2d851df0.fb591a",
        "type": "change",
        "z": "c3af477f.fa16b8",
        "name": "Extract Accelerometer X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.X",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 143,
        "wires": [
            [
                "55571092.81a3b8"
            ]
        ]
    },
    {
        "id": "fb36cd8f.38e188",
        "type": "change",
        "z": "c3af477f.fa16b8",
        "name": "Extract Accelerometer Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Y",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 183,
        "wires": [
            [
                "55571092.81a3b8"
            ]
        ]
    },
    {
        "id": "c3a3e2d2.248938",
        "type": "change",
        "z": "c3af477f.fa16b8",
        "name": "Extract Accelerometer Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Z",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 223,
        "wires": [
            [
                "55571092.81a3b8"
            ]
        ]
    },
    {
        "id": "819a820e.ff8e5",
        "type": "switch",
        "z": "c3af477f.fa16b8",
        "name": "SensorTile Event Types",
        "property": "eventType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Accelerometer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mic_Level",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Gesture",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 270,
        "y": 183,
        "wires": [
            [
                "a1331468.ef5818"
            ],
            [
                "2d851df0.fb591a",
                "fb36cd8f.38e188",
                "c3a3e2d2.248938"
            ],
            [
                "daae7dd6.2e8e4"
            ],
            [
                "d4f826e2.045f8"
            ]
        ]
    },
    {
        "id": "55571092.81a3b8",
        "type": "ui_chart",
        "z": "c3af477f.fa16b8",
        "name": "",
        "group": "3b631479.3443d4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Accelerometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 800,
        "y": 183,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "daae7dd6.2e8e4",
        "type": "change",
        "z": "c3af477f.fa16b8",
        "name": "Extract Microphone level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Mic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 283,
        "wires": [
            [
                "40f944e9.0e9684"
            ]
        ]
    },
    {
        "id": "40f944e9.0e9684",
        "type": "ui_chart",
        "z": "c3af477f.fa16b8",
        "name": "",
        "group": "3b631479.3443d4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Microphone",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 790,
        "y": 283,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f96cc36c.9e75c8",
        "type": "ibmiot in",
        "z": "c3af477f.fa16b8",
        "authentication": "apiKey",
        "apiKey": "a-29bbgl-wbvluztjur",
        "inputType": "evt",
        "deviceId": "C07A2E305C4D",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 100,
        "wires": [
            [
                "2625c070.6d8758"
            ]
        ]
    },
    {
        "id": "665719a7.950ce8",
        "type": "comment",
        "z": "c3af477f.fa16b8",
        "name": "WIoTP via API keys",
        "info": "Registered Device",
        "x": 116,
        "y": 52,
        "wires": []
    },
    {
        "id": "4a331fe.cb0806",
        "type": "debug",
        "z": "c3af477f.fa16b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "d4f826e2.045f8",
        "type": "change",
        "z": "c3af477f.fa16b8",
        "name": "Extract Gestures",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Gesture",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 383,
        "wires": [
            [
                "cbd65f41.75019",
                "64f25643.a58a98"
            ]
        ]
    },
    {
        "id": "cbd65f41.75019",
        "type": "debug",
        "z": "c3af477f.fa16b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 423,
        "wires": []
    },
    {
        "id": "64f25643.a58a98",
        "type": "ui_chart",
        "z": "c3af477f.fa16b8",
        "name": "",
        "group": "3b631479.3443d4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Gesture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 780,
        "y": 383,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2625c070.6d8758",
        "type": "delay",
        "z": "c3af477f.fa16b8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "4a331fe.cb0806",
                "819a820e.ff8e5"
            ]
        ]
    },
    {
        "id": "3b631479.3443d4",
        "type": "ui_group",
        "z": "",
        "name": "SensorTile Data",
        "tab": "a2b8b359.0e8b38",
        "disp": true,
        "width": "6"
    },
    {
        "id": "a2b8b359.0e8b38",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Tiles",
        "icon": "dashboard",
        "order": 2
    }
]
